pistacho=#adbe56
body, html
	height 100%
	margin 0
	width 100%
header
	position fixed
	height 10%
	padding 20px 0
	width 100%
	z-index 100
nav
	display inline-block
	vertical-align top
#home
	background pistacho
#bio
	background black
#portafolio
	background gray
#contacto
	background green
#Logo
	display inline-block
	vertical-align top
.container
	margin 0 auto
	width 1170px
.wrap
	height 100%
	margin 0
	overflow hidden 
	min-height 100%
	width 100%
	z-index 1