pistacho=#adbe56
body, html
	height 100%
	margin 0
	width 100%
header
	height 10%
	overflow hidden
	background pistacho
	padding 20px 0
	width 100%
	transition all 1s
	z-index 100
	#logo
		display inline-block
		vertical-align top
		width 50%
		a
			img
				height 50px
nav
	display inline-block
	vertical-align top
	float right
	ul
		li
			vertical-align top
			display inline-block
			list-style none
			margin 0 10px
			a
				color #949CA2
				text-decoration none
				&:hover
					color gray
#home
	background pistacho
#bio
	background #ffffff
#portafolio
	background #3F5E62
#contacto
	background #ffffff
.header2 
	position fixed
	height 40px
	padding 10 0
	background transparent
/*.header2 #logo 
	padding 10 0
.header2 nav 
	line-height 100px*/
.header2  #logo a img
	height 40px
	transition all 1s
.container
	margin 0 auto
	width 1170px
.wrap
	height 100%
	margin 0
	overflow hidden 
	min-height 100%
	width 100%
	z-index 1